.modify-profile.chosen-preferences {
  float: left;
}

.chosen-preferences.profile-page {
  margin-top: 1.5em;
}

.chosen-preferences > h2 {
  margin-bottom: 1.5em;
}

.areaCard {
  margin-bottom: 50px;
}

.modify-profile.chosen-preferences .card {
  max-width: 345;
}

.areaCard h2 {
  font-weight: 500;
}

.areaCard h5.floors {
  margin-top: -0.4em;
  margin-bottom: 1em;
}

.areaCard .learnMore {
  margin-left: 4px;
  margin-bottom: 5px;
}

.profile-page .edit-button {
  float: right;
}

.chosen-preferences .add-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.chosen-preferences .MuiGrid-item {
  padding-bottom: 0px !important;
  padding-top: 10px !important;
}
