.modify-profile.chosen-preferences {
  float: left;
}

.chosen-preferences.profile-page {
  float: right;
  margin-right: 5em;
}

.chosen-preferences > h2 {
  margin-bottom: 1.5em;
}

.areaCard {
  margin-bottom: 50px;
}

.modify-profile.chosen-preferences .card {
  max-width: 345;
}

.areaCard h2 {
  font-weight: 500;
}

.areaCard h5.floors {
  margin-top: -0.4em;
  margin-bottom: 1em;
}

.areaCard .learnMore {
  margin-left: 4px;
  margin-bottom: 5px;
}
